.btn-shake {
  color: var(--olive);
  border-radius: 12px;
  border: 1px solid var(--olive);
}

.btn-shake:hover {
  animation: rotate 700ms ease-in-out both;
}

.btn-shake-text {
  display: block;
}

.btn-shake:hover .btn-shake-text {
  animation: shake 700ms ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(8px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-5px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(3px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
