.btn-modern {
  border-radius: 4px;
  color: rgb(var(--orange));
  border: 1px solid rgb(var(--orange), 0.5);
  font-family: Arial, Helvetica, sans-serif;
  transition: var(--transition-all);
  opacity: 1;
}

.btn-modern:hover {
  box-shadow: 0px 0px 4px rgb(var(--orange), 0.5);
}

.btn-modern:active {
  opacity: 0.5;
}
