.btn-fade-in {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-grey);
  color: var(--white);
  border-radius: 20px;
  width: 7rem;
  transition: var(--transition-all);
}

.btn-fade-in-text {
  transition: all ease-in 350ms;
}

.btn-fade-in:hover .btn-fade-in-text {
  margin-left: -1.5rem;
}

.btn-fade-in-icon {
  opacity: 0;
  position: absolute;
  right: 0.75rem;
  transition: all ease-in-out 150ms;
  transition-delay: 200ms;
}

.btn-fade-in::after {
  opacity: 0;
  content: '😍';
  position: absolute;
  right: 0.75rem;
  transition: all ease-in-out 150ms;
  transition-delay: 200ms;
}

.btn-fade-in:hover::after {
  opacity: 1;
}

.btn-fade-in:active::after {
  content: '🥰';
}
